doctype html
html(lang='en')
  head
    title Dead link
  body
    h1 It would appear that you have used a dead link. Please check that game is still on and link is correct.
    p You may close this browser window.
