doctype html
html(lang='en')
  head
    title Already participated
  body
    h1 It would appear that you have already participated for given contact. Try to connect with someone else.
    p You may close this browser window.
