extends layout

block content
 div(class='main')
  head
    title= team_page
  body(bgcolor= team_color)
    h2 Scan the QR code to join the team.
    a(href= new_team_member)
      != team_qr_code

    h2= team_info
    h3= sub_team_info
    h2= game_status