doctype html
html(lang='en')
 head
   title= team_page
 body(bgcolor= team_color)
   h1 Scan the QR code to join the team.
   a(href= new_team_member)
     img(src= team_qr_code)

   h1= team_info
   h2= sub_team_info
   h1= game_status
