.heading {
    color: white;
    background-color: cadetblue;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    margin: 10px 4px;
    padding: 10px;
}

.playerown {
    color: white;
    background-color: gray;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    margin: 10px 4px;
    padding: 10px;
}

.statuses {
    color: white;
    background-color: mediumseagreen;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    margin: 10px 4px;
    padding: 4px;
}
.qrplace {
    margin: 10px 4px;
}
.qrcode {
    background-color: white;
}
.nickinfo {
    display: flex;
    justify-content: space-between;
}
.others {
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
}
